@import "tailwindcss";

@keyframes marquee {
    0% { transform: translateX(0%); }
    100% { transform: translateX(-50%); } /* Move only half to create a seamless loop */
  }
  
  .animate-marquee {
    animation: marquee 40s linear infinite;
    display: flex;
    white-space: nowrap;
  }
  .animate-marquee-scroll {
    animation: marquee 10s linear infinite;
    display: flex;
    white-space: nowrap;
  }